.products {
    border:1px solid rgb(233, 50, 50);
    background-color: #fdcc94!important;
    border-radius: 5px;
    padding: 16px;
    margin-bottom: 20px;

}

#bgcol{
    color: rgb(0, 0, 0);



}

#neme{
    font-size: 1rem;
}


.table{
    margin: 0px auto;
}

.row{
    margin: 0px auto;
}

.centered{

    float: none;
    margin: 0 auto;
}

.button{

    background: #fbb62c;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration:none;
    display: block;
    border-radius:3px;
    font-size: 16px;
    margin: 25px 0 15px 0;
}

.button:visited{
    text-decoration: none;
    color: white;
}

.button:hover {
    
    text-decoration:none;
    color: white;
}

.button:active{
    text-decoration: none;
    color:white;
}
.btn-danger{
    font-size: 12px;
    padding:3px;
}
.btn-danger:hover {
    text-decoration: none;
}
a{

    text-decoration:none;
}
a:hover{
    text-decoration:none;
}
h3{
    margin-top: 0px;
}
.mycartbutton:hover{
    background-color: aliceblue;
    transform: scale(1.01);
}

.mycartbutton{
   align-self: center;
   background: #fbb62c;
}

.glow:hover{
    transform: scale(1.01);
    color: rgb(255, 0, 0);
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  }